---
export interface Props {
    date: string;
    title: string;
    label: string;
    subtitle: string;
    src: string;
    color: string;
}

const { title, date, label, subtitle, src, color } = Astro.props;
---

<div class="event-slide" style={{backgroundColor: color}}>
    <lottie-player class="event-slide_label" src={`/img/labels/${label}.json`}  background="transparent"  speed="1" loop autoplay></lottie-player>
    <span class="event-slide_date">{date}</span>
    <img class="event-slide_image" src={src} alt="" />
    <div class="event-slide_content">
        <span class="event-slide_title">{title}</span>
        <span class="event-slide_subtitle">{subtitle}</span>
    </div>
</div>
