---
export interface Props {
    date: string;
    title: string;
    title2: string;
    label: string;
    subtitle: string;
    src: string;
    jsonSrc: string;
    color: string;
}

const { title, title2, date, label, subtitle, src, jsonSrc, color } = Astro.props;
---

<a href="/events/event" class="event-slide" style={{backgroundColor: color}}>
    <lottie-player class="event-slide_label" src={`/img/labels/${label}.json`}  background="transparent"  speed="1" loop autoplay></lottie-player>
    <span class="event-slide_date">{date}</span>
    <lottie-player class="slide_image" src={jsonSrc}  background="transparent"  speed="1" loop autoplay></lottie-player>
    <div class="event-slide_content">
        <span class="event-slide_title">
            {title}
            <div>{title2}</div>
        </span>
        <span class="event-slide_subtitle">{subtitle}</span>
        <img src="/img/card-arrow.svg" alt="" class="event-slide_arrow">
    </div>
</a>
